<div class="course-image d-flex justify-content-center mb-4">
  <app-avatar-image
    [isEditable]="true"
    [shape]="'rounded-circle'"
    (onChangeUrlEvent)="onChangeImageUrl($event)"
    [imageURL]="course.imageUrl"
  >
  </app-avatar-image>
</div>
<mat-form-field class="w-100" appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput [(ngModel)]="course.name" name="name" />
</mat-form-field>

<mat-form-field class="w-100" appearance="outline">
  <mat-label>Short description</mat-label>
  <textarea
    matInput
    [(ngModel)]="course.shortDescription"
    name="shortDescription"
  ></textarea>
</mat-form-field>
<mat-form-field class="w-100" appearance="outline">
  <mat-label>Long description</mat-label>
  <textarea
    matInput
    [(ngModel)]="course.longDescription"
    name="longDescription"
  ></textarea>
</mat-form-field>

<button
  mat-raised-button
  color="primary"
  (click)="onClick()"
  class="w-100 my-3"
  style="height: 4em"
>
  <span style="font-size: larger">Create</span>
</button>
