.avatar {
  object-fit: cover;
  object-position: center;
  width: 150px;
  height: 150px;
}

.avatar-div {
  display: inline-block;
  line-height: 0;
  position: relative;
}

.edit-icon {
  background-color: #2fb187;
  border: 2px solid white;
  border-radius: 98px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 2px;
  top: 2px;
  display: inline-block;
}

.edit-icon:hover {
  cursor: pointer;
}

.edit-icon-label {
  position: relative;
}

.edit-edit-icon-label:hover {
  cursor: pointer;
}

.bi-pen:hover {
  cursor: pointer;
}

.image-input {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}