<div class="container justify-content-center ">
    <section class="header relative pt-5 items-center flex h-screen max-h-860-px">
        <div class="row row-grid align-items-center m-5">
            <div class="col-md-6 order-md-2">
                <div class="lottie-animation mt-10">
                    <ng-lottie [options]="options">
                    </ng-lottie>
                </div>
            </div>
            <div class=" col-md-6 order-md-1">
                <div class="pr-md-5" class="align-self-center " style="font-size: 18px;text-align: center;">
                    <div class="pr-md-5" style="text-align: center; ">
                        <h3>Want to learn something new?</h3>
                        <p></p>
                        <p>The E-Learn website will help us achieve this without having boring lessons anymore.
                            The website hosts a lot of courses with short lessons.</p>
                        <b>You can:</b>
                        <ul class="list-unstyled ">
                            <li>
                                Search for a course
                            </li>
                            <li>
                                Join courses
                            </li>
                            <li>
                                Pass the lesson and the test
                            </li>
                            <li>
                                • • •
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" relative pt-16 items-center flex h-screen max-h-860-px">
        <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-1">
                <div class="lottie-animation mt-10">
                    <ng-lottie [options]="optionsMicrolearning">
                    </ng-lottie>
                </div>
            </div>
            <div class="col-md-6 order-md-2">
                <div class="pr-md-5 text-center">
                    <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"><i
                            class="ni ni-settings-gear-65"></i></div>
                    <h3> Microlearning</h3>
                    <p>Microlearning enhances learning and performance in the most efficient and effective manner
                        possible through short pieces of content. Assets can usually be accessed on-demand when the
                        learner needs them. Many people find microlearning valuable because it can be consumed quickly
                        while the learner is performing their job, which contrasts to longer in-person or virtual forms
                        of training that they may need to carve out time in their work schedules to complete.</p>

                </div>
            </div>
        </div>
    </section>

    <section class=" relative pt-5 mt-5 pb-5 mb-5  items-center flex h-screen max-h-860-px">
        <div class="row row-grid align-items-center">
            <div class="col-md-12">
                <div class=" pr-md-5 text-center">
                    <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"><i
                            class="ni ni-settings-gear-65"></i></div>
                    <h3> E-Learn</h3>
                    <p>This site was developed by Ana Lazarenco,<b> a student at the Faculty of Automation, Computers
                            and Electronics. </b>
                    </p>
                    <h6 class="text-uppercase fw-bold mb-4"> Contact data </h6>
                    <p> <i class="bi bi-envelope me-3"></i>
                        <a [href]="emailstring" target="_top">lazarenco.ana.f7e@student.ucv.ro</a>
                    </p>
                    <p><i class="bi bi-telephone-fill me-3"></i> <a href="tel:+ 40 770 400 279">+ 40 770 400 279</a></p>
                </div>
            </div>
        </div>
    </section>
</div>