<nav id="sidebarMenu" class="col-md-6 col-lg-6  bg-light sidebar collapse">
    <div class="position-sticky p-5 pt-4 sidebar-sticky container-fluid">
        <div class="row  justify-content-between">
            <h5 class="col">Profile</h5>
            <a class="col d-flex justify-content-end" href="/student/profile">
                <i class="bi bi-gear" style="font-size: 24px;"></i>
            </a>

        </div>
        <div class="row text-center mb-2">
            <img [src]="profileUrl" class="rounded-circle mb-3 m-auto" style="width: 150px;" alt="Avatar" />

            <h5 class="mb-2"><strong>{{ user?.displayName }}</strong></h5>
            <p class="text-muted">Web designer <span class="badge bg-primary">PRO</span></p>
        </div>
        <div class="row text-center justify-content-between  mb-4">
            <div class="card col me-2 p-1 d-flex flex-column" style="max-width: 150pvx;">
                <i class="bi bi-lightning-charge-fill energy-badge"></i>
                <i class="fa-solid fa-star"></i>
                <p>0</p>
                <p>ENERGY</p>
            </div>

            <div class="card col mx-1 p-1 d-flex flex-column" style="max-width: 150px;">
                <i class="bi bi-fire streak-badge"></i>
                <p>0</p>
                <p>DAYS STREAK</p>
            </div>

            <div class="card col ms-2 p-1  d-flex flex-column" style="max-width: 150px;">
                <i class="bi bi-star-fill league-badge"></i>
                <p>Star</p>
                <p>LEAGUE</p>
            </div>
        </div>
        <div class="row">
            <h3>Certificates</h3>
            <div class="card py-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">Web development
                        <circle-progress [percent]="85" [radius]="16" [outerStrokeWidth]="4"
                            [outerStrokeColor]="'#78C000'" [animation]="true" [showSubtitle]="false"
                            [titleFontSize]="'12'" [showInnerStroke]="false"
                            [animationDuration]="300"></circle-progress>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Web development
                        <circle-progress [percent]="85" [radius]="16" [outerStrokeWidth]="4"
                            [outerStrokeColor]="'#78C000'" [animation]="true" [showSubtitle]="false"
                            [titleFontSize]="'12'" [showInnerStroke]="false"
                            [animationDuration]="300"></circle-progress>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Web development
                        <circle-progress [percent]="85" [radius]="16" [outerStrokeWidth]="4"
                            [outerStrokeColor]="'#78C000'" [animation]="true" [showSubtitle]="false"
                            [titleFontSize]="'12'" [showInnerStroke]="false"
                            [animationDuration]="300"></circle-progress>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>