<div class="px-4 py-5 my-5" style="min-height: 100vh">
    <div class="col-lg-6 mx-auto">
        <app-quill-readonly-content [delta]="slide?.delta"></app-quill-readonly-content>

        <div class="container mb-5">
            <div class="row">
                <div class="col-12">

                    <div *ngIf="slide?.answerType===0"> <!-- single response-->
                        <label id="example-radio-group-label">
                            <h4>Pick the corect answer</h4>
                        </label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="radioAnswer">
                            <mat-radio-button class="example-radio-button" *ngFor="let season of slide?.answers"
                                [value]="season">
                                {{season}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div *ngIf="slide?.answerType===1"><!-- multiple responses-->
                        <section>
                            <label id="example-radio-group-label">
                                <h4>Pick the corect answer</h4>
                            </label>
                            <mat-checkbox *ngFor="let answer of  checkAnswers" [(ngModel)]="answer.completed"
                                class="example-radio-group">
                                {{ answer.value }}
                            </mat-checkbox>
                        </section>
                    </div>

                    <div *ngIf="answered"> <!-- corect response-->
                        <section class="example-section d-flex">
                            <div class="lottie-animation" *ngIf="correctAnswer"> <!-- corect response-->
                                <ng-lottie [options]="optionsCorrect">
                                </ng-lottie>
                            </div>
                            <div class="lottie-animation" *ngIf="!correctAnswer"> <!-- wrong response-->
                                <ng-lottie [options]="optionsWrong">
                                </ng-lottie>
                            </div>
                            <div class="align-self-center">
                                <span class="h5" style="color:green">Correct Answer(s) : </span>
                                <span class="h6" style="color:green">
                                    <ng-container *ngFor="let answer of slide?.correctAnswers; last as isLast  ">
                                        {{answer}}
                                        <ng-container *ngIf="!isLast">, </ng-container>
                                    </ng-container>
                                </span>
                            </div>
                        </section>
                    </div>

                    <div *ngIf="isLastLottie" clas="d-grid gap-2 " class="ng-star-inserted"
                        style="display: flex; justify-content: center; ">
                        <div class="last-lottie-animation" *ngIf="isLastLottie">
                            <ng-lottie [options]="optionsTestOverview">
                            </ng-lottie>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-center">
                        <button *ngIf="!answered" [disabled]="hasIncompleteAnswers()"
                            class="btn btn-primary px-4 py-2 fw-bold" (click)="checkCorrectAnswer()">
                            continue</button>
                        <button *ngIf="answered" class="btn btn-primary px-4 py-2 fw-bold"
                            (click)="continueToNextSlide()">
                            Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 
<div class="px-4 py-5 my-5" style="min-height: 100vh">
    <div class="col-lg-6 mx-auto">
      <app-quill-readonly-content [delta]="slide?.delta"></app-quill-readonly-content>
  
      <div *ngIf="isLastLottie" clas="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <div class="lottie-animation" *ngIf="isLastLottie">
          <ng-lottie [options]="options">
          </ng-lottie>
        </div>
      </div>
  
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button *ngIf="!isLastLottie" type="button" class="btn btn-primary btn-lg px-4 gap-3"
          (click)="continueToNextSlide()">
          Continue
        </button>
  
        <button *ngIf="isLastLottie" type="button" class="btn btn-primary btn-lg px-4 gap-3"
          (click)="continueToNextSlide()">
          Finish
        </button>
      </div>
    </div>
  </div> -->