.lottie-animation {
    // margin-left: auto;
    // right: 30;
    // bottom: 30;
    // position: fixed;
    // width: 75%;
    // height: 75%;
    display: flex;
    align-self: center;
    justify-content: center;
}