<div class="p-4">
  <div
    id="slide-header"
    class="d-flex justify-content-between text-center mb-4"
  >
    <div id="slide-details ">
      <button mat-raised-button color="warn" (click)="deleteSlide()">
        Delete
      </button>
    </div>
    <div id="action-buttons">
      <button mat-raised-button color="primary" class="me-5" (click)="onSave()">
        Save changes
      </button>
      <button mat-raised-button color="warn">Cancel</button>
    </div>
  </div>
  <div id="slide-editor">
    <app-quill-editor></app-quill-editor>
  </div>
</div>
