<div class="carousel-animation-wrapper">
  <div class="carousel-wrapper">
    <igx-carousel [navigation]="true" [pause]="false" animationType="fade">
      <igx-slide #slide *ngFor="let item of slides">
        <div style="height: 100%" [ngStyle]="slideStyle(item.image)">
          <app-slide-add></app-slide-add>
        </div>
      </igx-slide>
      <ng-template igxCarouselIndicator></ng-template>
    </igx-carousel>
  </div>
  <div class="list-wrapper">
    <igx-list displayDensity="compact">
      <igx-list-item>
        <button mat-raised-button color="primary" class="me-5 w-100">
          Add new slide
        </button>
      </igx-list-item>
      <igx-list-item class="d-flex">
        <app-slide-thumbnail></app-slide-thumbnail>
      </igx-list-item>
      <igx-list-item
        *ngFor="let item of slides; let i = index"
        [ngClass]="{ disabled: i !== currentIndex }"
      >
        <app-slide-thumbnail></app-slide-thumbnail>
      </igx-list-item>
    </igx-list>
  </div>
</div>
