<div *ngFor="let slide of slides">
    <div style="min-height: 100vh;" [id]="slide.id">
        <app-slide-with-intro *ngIf="slide.type=='info'" [callbackFunction]="myCallbackFunction"
            [model]="slide"></app-slide-with-intro>
        <app-slide-with-choose *ngIf="slide.type=='right-answer'" [callbackFunction]="myCallbackFunction"
            [model]="slide"></app-slide-with-choose>
        <!--  <app-slide-with-inputs *ngIf="model.type=='input-answer'" [callbackFunction]="callbackFunction"
             [model]="model"></app-slide-with-inputs> -->
    </div>
</div>