.subject-card-header-container {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.subject-container {
  height: 100%;
  width: 100%;
  background: white;
  min-height: 3rem;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 100%;
}
