<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <div class="container py-4" style="max-width: 1100px">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
          ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-3">Sign up</h2>
            <!-- <ul class="nav nav-pills nav-justified mb-3">
              <li class="nav-item">
                <button
                  class="nav-link"
                  [ngClass]="{ active: preferredRole === userRole.Student }"
                  (click)="changePreferredRole(userRole.Student)"
                >
                  Student
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  [ngClass]="{ active: preferredRole === userRole.Teacher }"
                  (click)="changePreferredRole(userRole.Teacher)"
                >
                  Profesor
                </button>
              </li>
            </ul> -->
            <form (ngSubmit)="registerWithEmail()" [formGroup]="registerForm">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control" formControlName="firstName" required />
                    <label class="form-label" for="firstName">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control" formControlName="lastName" required />
                    <label class="form-label" for="lastname">Last name</label>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="userName" class="form-control" formControlName="email" required />
                <label class="form-label" for="userName">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="userPassword" class="form-control" formControlName="password" required />
                <label class="form-label" for="userPassword">Password</label>
              </div>

              <!-- Submit button -->
              <div class="d-grid mb-4">
                <button class="btn btn-info" type="button" type="submit">
                  Sign up
                </button>
              </div>
              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1" (click)="registerWithFacebook()">
                  <i class="fa fa-facebook-f"></i>
                </button>

                <button type="button" (click)="registerWithGoogle()" class="btn btn-link btn-floating mx-1">
                  <i class="fa fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1" (click)="registerWithGithub()">
                  <i class="fa fa-github"></i>
                </button>
              </div>
              <div class="form-outline mt-4">
                <a href="about" class="text-reset me-4">About Us</a>
                <a href="sign-in" class="text-reset">Sign in</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<app-footer></app-footer>
<!-- Section: Design Block -->