<div
  *ngIf="chapter !== undefined"
  class="card"
  [ngClass]="{ selected: isSelected }"
>
  <div class="card-body" (click)="onClick()">
    <div class="subject-container">
      <div class="subject-card-header-container">
        <p class="subject-title">{{ chapter.name }}</p>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Share</button>
          <button mat-menu-item>Archive</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </div>
      <!-- <span #spani class="text-muted">
        <span *ngIf="chapter.numberOfLessons ?? 0 > 0"
          >{{ chapter.numberOfLessons }}
          Lessons
        </span>
        <span *ngIf="chapter.numberOfPractice ?? 0 > 0"
          >{{ chapter.numberOfPractice }}
          Practice
        </span>
        <span *ngIf="chapter.numberOfTests ?? 0 > 0"
          >{{ chapter.numberOfTests }} Tests
        </span>
      </span> -->
      <button mat-stroked-button>Add Lesson</button>
    </div>
  </div>
</div>
