<div *ngIf="chapter !== undefined">
  <mat-toolbar color="">
    <span>{{ chapter.name }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-tab-group animationDuration="1000ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="me-2">description</mat-icon>
        <div matBadge="4" matBadgeOverlap="false" class="demo-section">
          Lessons
        </div>
      </ng-template>
      <app-lessons-list [chapter]="chapter"></app-lessons-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="me-2">insert_drive_file</mat-icon>
        Practices
      </ng-template>
      <app-practice-list [chapter]="chapter"></app-practice-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="me-2">insert_drive_file</mat-icon>
        Tests
      </ng-template>
      <app-tests-list [chapter]="chapter"></app-tests-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="me-2">insert_drive_file</mat-icon>
        Documents
      </ng-template>
      Documents
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="me-2">note_add</mat-icon>
        Notes
      </ng-template>
      Notes
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="me-2">people</mat-icon>
        Collaborations
      </ng-template>
      Collaborations
    </mat-tab>
  </mat-tab-group>
</div>
