<div class="row ">
    <h1>Courses </h1>

</div>
<div class="row">
    <div class=" col-lg-6 " *ngFor="let cours of courses">
        <div _ngcontent-bsx-c220="" class="card text-white mb-4 cours-card">
            <div _ngcontent-bsx-c221="" class="card-body">
                <div _ngcontent-bsx-c221="" class="d-flex justify-content-between align-items-center">
                    <div _ngcontent-bsx-c221="" class="me-3">
                        <div _ngcontent-bsx-c221="" class="text-white-75">Earnings (Monthly){{cours }}</div>
                    </div>
                </div>
            </div>
            <div _ngcontent-bsx-c220="" class="card-footer d-flex align-items-center justify-content-between"><a
                    _ngcontent-bsx-c220="" class="small text-white stretched-link" href="/dashboard">View cours</a>
                <div _ngcontent-bsx-c220="" class="small text-white">
                    <a href="/dashboard" class="btn btn-outline-light">
                        <i class="bi bi-chevron-right" style="-webkit-text-stroke: 3px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 

    alternative
<div class="row">
    <h1>Courses </h1>

</div>
<div class="row">
    <div class="col-xxl-3 col-lg-6 " *ngFor="let cours of courses">
        <div _ngcontent-bsx-c220="" class="card  mb-4 cours-card2">
            <div _ngcontent-bsx-c221="" class="card-body">
                <div _ngcontent-bsx-c221="" class="d-flex justify-content-between align-items-center">
                    <div _ngcontent-bsx-c221="" class="me-3">
                        <div _ngcontent-bsx-c221="" class="text-75 ">Earnings (Monthly){{cours }}</div>
                    </div>
                </div>
            </div>
            <div _ngcontent-bsx-c220="" class="card-footer d-flex align-items-center justify-content-between"><a
                    _ngcontent-bsx-c220="" class="small text-dark stretched-link" href="/dashboard">View cours</a>
                <div _ngcontent-bsx-c220="" class="small text-dark">
                    <a href="/dashboard" class="btn btn-outline-dark">
                        <i class="bi bi-chevron-right" style="-webkit-text-stroke: 3px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->